body {
	background-color: #ece4cb;
}

a {
	color: #c00000;
}

a:hover, a:focus {
	color: #740000;
}

a.muted:hover, a.muted:focus {
	color: gray;
}

a.muted:hover, a.muted:focus {
	color: gray;
}

input, button, select, textarea {
	font-family: IRANSans, "Times New Roman", Times, serif;
}

.table .table {
	background-color: #ece4cb;
}

[class^="icon-"], [class*="icon-"] {
	background-image: url("//a1.bookpage.com/assets/glyphicons-halflings-e1eeb08621572230daaa5b83bb24ce89.png");
}

#0081c2 -> #b60000
#0088cc -> #c00000
#0077b3 -> #a70000
#006dcc -> #c01900
#0044cc -> #c04000
#003bb3 -> #a73700
#003399 -> #8d2f00
#002a80 -> #742700
#005580 -> #740000

.nav-tabs > .active > a {
	background-color: #ece4cb;
}

.navbar-inner {
	background-color: #e60000;
	gradient: from(red) to(#c10000);
}

.navbar .brand {
	color: white;
	text-shadow: red;
}

.navbar.nav > li > a{
	color: white;
	text-shadow: red;
}
.navbar.nav > li > a:focus :hover {
	color: white;
	background-color: red;
}

.navbar.nav > .active > a :hover :focus {
	background-clor: red;
}

#ededed -> #cd0000
#f2f2f2 -> #e60000
#e5e5e5 -> #a80000
#d9d9d9 -> #8e0000
#cccccc -> #750000

dropdown.caret {
	#333333 -> #555555
	#777777 -> white
}

.navbar-link {
	color: white;
}

.navbar-link:hover :focus {
	color: white;
}

.navbar .divider-vertical {
	border-left: #c10000;
	border-right: red;
}
