body {
	background-color: #ece4cb;
    font-family: "IRANSans";
}

.table .table {
	background-color: #ece4cb;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	background-color: #ece4cb;
}

a {
	color: #c00000;
}

a:hover, a:focus {
	color: #740000;
	text-decoration: underline;
}

a.muted:hover, a.muted:focus {
	color: gray;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: white;
	background-color: #b60000;
	background-image: -moz-linear-gradient(top, #c00000, #a70000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c00000), to(#a70000));
	background-image: -o-linear-gradient(top, #c00000, #a70000);
	background-image: linear-gradient(to bottom, #c00000, #a70000);
	background-repeat: repeat-x;
}

.btn-primary {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #c01900;
	background-image: -moz-linear-gradient(top, #c00000, #c04000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c00000), to(#c04000));
	background-image: -o-linear-gradient(top, #c00000, #c04000);
	background-image: linear-gradient(to bottom, #c00000, #c04000);
	background-repeat: repeat-x;
	border-color: #c04000 #c04000 #742700;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color: #c04000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: white;
	background-color: #c04000;
	*background-color: #a73700;
}

.btn-primary:active, .btn-primary.active {
	background-color: #8d2f00;
}

.btn-link {
	color: #c00000;
}

.btn-link:hover, .btn-link:focus {
	color: #740000;
	text-decoration: underline;
	background-color: transparent;
}

.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #c00000;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
	color: white;
	background-color: #c00000;
}

.nav .dropdown-toggle .caret {
	border-top-color: #c00000;
	border-bottom-color: #c00000;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
	border-top-color: #740000;
	border-bottom-color: #740000;
}

a.thumbnail:hover,
a.thumbnail:focus {
	border-color: #c00000;
	-webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
	-moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
	box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

.icon-red,
.glyphicon-red {
	color: #c00000;
}

div.bp-nav {
	background-color: #e60000;
	background-image:-moz-linear-gradient(top, red, #c10000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(#c10000));
	background-image: -webkit-linear-gradient(top, red, #c10000);
	background-iamge: -o-linear-gradient(top, red, #c10000);
	background-image: linear-gradient(to bottom, red, #c10000);
	background-repeat: repeat-x;
	border: 1px solid #840000;
}

.navbar-brand {
	color: white;
	text-shadow: red;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: red;
}

.navbar-link {
	color: white;
}

.navbar-link:hover, .navbar-link:focus {
	color: white;
}


body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}
p.pdf-reader {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-size: 17px;
}
p.article-issue {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
}
.search-box {
    font-size: 14px;
    float: left;
    display: block;
}
.search-form {
    margin-bottom: 0px;
}
.input-group {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.query-input {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #C1C0AA !important;
}
.inline-ad {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.inline-ad img {
    margin-bottom: 20px;
}
#desktop1 iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 92px;
    overflow: hidden;
}
#desktop4 iframe, #desktop5 iframe {
    margin-top: -10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 150px;
    overflow: hidden;
}
.inline-ad-blog {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}
.inline-ad-blog img {
    margin-bottom: 10px;
    margin-top: 10px;
}
ul.admin-links {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: IranSans,  Arial,  sans-serif;
}
ul.admin-links li {
    border-left: 1px solid #C1C0AA;
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
}
ul.admin-links .left-bar {
    border-right: 1px solid #C1C0AA;
    padding-right: 10px;
}
span.input-group-addon {
    background: #444 !important;
    border: 1px solid #C1C0AA !important;
}
li.current {
    background-color: #FF0000;
    color: #FFF;
}
.slider-item {
    margin: 0px 0px 10px 10px;
}
.slider-item img {
    border: 1px solid #C1C0AA;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
.disabled {
    color: #777777;
}
.icon-red, .glyphicon-red {
    color: #C00000;
    font-size: 18px;
}
.icon-hover:hover, .glypgicon-hover:hover {
    text-decoration: none !important;
}
.bp-nav {
    margin-bottom: 20px;
}
.pagination {
    font-family: IranSans,  Arial,  sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 9px;
}
.pagination a {
    padding: 2px 10px !important;
}
.text-error {
    color: #C00000 !important;
}
ul.bp-navtext {
    float: right;
    font-family: IRANSans,  Helvetica,  Arial,  sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
ul.bp-navtext li {
    line-height: 36px;
    border-right: 1px solid #a70000;
    margin-right: 0px;
}
ul.bp-navtext li.nav-last {
    border-left: 1px solid #a70000;
}
img.brand {
    width: 156px;
    height: 36px;
    padding: 0px;
    margin: 0px;
}
img.issue-cover-small {
    height: 300px;
    width: 225px;
    margin-right: 20px;
}
li.issue-archive {
    width: 210px;
    height: 320px;
    border: none;
    padding: 10px;
}
.issue-archive img {
    height: 280px;
}
ul.thumbnails {
    margin-top: 10px;
}
h1 {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: right;
    padding: 0px 0px 5px 0px;
    margin: -5px 0px 0px 0px;
    text-transform: uppercase;
}
h2 {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: right;
    padding: 0px 0px 5px 0px;
    margin: -5px 0px 0px 0px;
    text-transform: uppercase;
}
h3 {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    color: #555;
}
h3 strong {
    color: #222;
}
h4 {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 19px;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}
.featured-person {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.featured-person img {
    border: 1px solid #C1C0AA;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.mainslider {
    margin-bottom: 0px;
}
br.clear {
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
ol {
    list-style-position: outside;
}
p.genre-links {
    text-align: right;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #C1C0AA;
    margin: 0 0 10px 0;
}
li.recent-issues {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 19px;
    padding: 5px 0;
    list-style: none;
}
li.recent-issues a:link {
    color: #C00000 !important;
}
li.recent-issues a:active {
    color: #C00000 !important;
}
li.recent-issues a:visited {
    color: #C00000 !important;
}
li.recent-issues a:hover {
    color: #8d0000 !important;
}
li.recent-posts {
    font-family: "IRANSans",  "Times New Roman",  Times,  serif;
    text-transform: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    padding: 5px 0;
    list-style: disc;
}
li.recent-posts a:link {
    color: #444 !important;
}
li.recent-posts a:active {
    color: #444 !important;
}
li.recent-posts a:visited {
    color: #444 !important;
}
li.recent-posts a:hover {
    color: #8d0000 !important;
}
.book-details .book-cover {
    text-align: center;
}
.book-details .book-cover img {
    border: 1px solid #C1C0AA;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border: 1px solid #C1C0AA;
}
.book-details .book-data {
    margin-right: 20px;
    text-align: right;
    color: #777777;
    font-family: "IRANSans",  "Times New Roman",  Times,  serif;
    font-size: 9px;
    line-height: 12px;
}
.book-details .book-data p.author-small {
    font-style: italic;
}
.book-details .book-data h4 {
    color: #000000;
}
.cover img {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border: 1px solid #C1C0AA;
}
.holiday-covers img {
    border: none;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}
.holiday-headers img {
    vertical-align: middle;
    text-align: center;
    padding: 20px 5px 30px 5px;
}
.bp-well {
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #C1C0AA;
    font-size: 14px;
}
.article-sidebar-well {
    margin: 0px;
    padding: 0px;
}
.article-sidebar-well .affix {
    position: static;
    width: auto;
    top: 0;
}
.article-sidebar-well img {
    border: 1px solid #C1C0AA;
    background: none;
    margin-bottom: 20px;
}
.bp-sidebar-well {
    border: 1px solid #C1C0AA;
    background: white;
    margin-bottom: 20px;
}
.header-adzone img {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #C1C0AA;
}
.content-well {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid #C1C0AA;
}
hr.divider {
    clear: both;
    margin: 0 0 0 0;
    border-top: 1px solid #C1C0AA;
}
.social-icons {
    color: #666;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    line-height: 30px;
}
.social-icons p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.social-icons-large {
    color: #666;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 40px;
    line-height: 40px;
}
.social-icons-large p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.social-text p {
    color: #fcfaf3;
}
.social-bar {
    background: #b00000;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
    border-top: 1px solid #C1C0AA;
    border-left: 1px solid #C1C0AA;
    border-right: 1px solid #C1C0AA;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    padding: 5px;
    text-transform: uppercase;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.social-bar p a {
    text-decoration: none !important;
}
.social-bar p a:link {
    color: #fcfaf3;
}
.social-bar p a:active {
    color: #fcfaf3;
}
.social-bar p a:visited {
    color: #fcfaf3;
}
.social-bar p a:hover {
    color: #f5cfcf;
}
.email-bar {
    background: #007373;
    margin-bottom: 10px;
}
.email-bar p a {
    text-decoration: none !important;
}
.email-bar p a:link {
    color: #fcfaf3;
}
.email-bar p a:active {
    color: #fcfaf3;
}
.email-bar p a:visited {
    color: #fcfaf3;
}
.email-bar p a:hover {
    color: #86e1e1;
}
.search-bar {
    background: #fcfaf3;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #C1C0AA;
    border-left: 1px solid #C1C0AA;
    border-right: 1px solid #C1C0AA;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    padding: 5px;
    text-transform: uppercase;
}
.sidebar-footer {
    text-align: left;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    padding: 10px 0px;
    text-transform: uppercase;
}
.sidebar-header {
    background: #444;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #C1C0AA;
    border-left: 1px solid #C1C0AA;
    border-right: 1px solid #C1C0AA;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.sidebar-body {
    padding: 0px 20px 0px 20px;
    background: white;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid #C1C0AA;
    font-size: 14px;
}
.bookjacket {
    background: #ddd;
}
.bp-block {
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
}
.bp-main-slider {
    margin-bottom: 0px;
}
.read-full {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    color: #AA2624;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    padding: 10px 0 0 0;
    margin: 0px;
}
p.author-small {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    color: #666;
    font-weight: 400;
    font-size: 17px;
    padding-top: -4px;
    margin-bottom: 10px;
    text-align: right;
    font-style: italic;
}
p.contributor-small {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    color: #666;
    font-weight: 400;
    font-size: 17px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}
.blog-preview h3 {
    font-size: 26px;
}
.article-info h2 a:link, .article-info h4 a:link {
    color: #000;
}
.article-info h2 a:active, .article-info h4 a:active {
    color: #C00000;
}
.article-info h2 a:visited, .article-info h4 a:visited {
    color: #000;
}
.article-info h2 a:hover, .article-info h4 a:hover {
    color: #8d0000;
}
.article-info h2 {
    line-height: 28px;
}
.article-info h4 {
    line-height: 23px;
}
p.excerpt {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
a.bp-button {
    padding: 5px 12px 3px 12px;
    background-color: #AA2624;
    color: #FFFFFF;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
    bottom: 30px;
    border: 1px solid #fff;
}
#facet-box2 {
    padding-bottom: 160px;
    display: block;
}
#facet-box {
    padding-bottom: 160px;
    display: block;
}
#desktop2 {
    padding-bottom: 160px;
    display: block;
}
.facets {
    margin-top: 10px;
    margin-bottom: 10px;
}
.facets p {
    font-family: IranSans,  Arial,  sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
}
.facets ul {
    margin-right: 10px;
}
.facets ul li {
    list-style: none;
    padding-right: 22px;
    text-indent: -22px;
}
a.bp-button-left {
    padding: 5px 12px 3px 12px;
    background-color: #AA2624;
    color: #FFFFFF;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    bottom: 20px;
}
.article-header {
    padding: 20px 10px 10px 10px;
    margin: 0;
    border-top: 1px solid #C1C0AA;
    border-bottom: 1px solid #C1C0AA;
}
.article-header h2 {
    text-transform: none;
    margin: 4px 0px 6px 0px;
    line-height: 30px;
}
.article-body {
    padding: 10px 10px 0px 10px;
    margin: 0;
}
.article-body blockquote {
    padding: 0px 0px 0px 10px;
    margin: 20px 15px 20px 20px;
    font-style: italic;
    color: #555;
}
.affiliate-links-small {
    text-align: right;
    color: #666;
}
.affiliate-links-small img {
    padding: 0 0 20px 5px;
    width: 32px;
}
.affiliate-links {
    text-align: center;
    border: 1px solid #C1C0AA;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #666;
}
.affiliate-links p {
    border-bottom: 1px solid #C1C0AA;
    padding-bottom: 8px;
}
.blog-body {
    margin-top: 0px;
    margin-bottom: 20px;
}
.blog-body img {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    float: right;
    clear: right;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
.blog-body img.noshadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
img.nowrap {
    float: none !important;
    clear: both !important;
}
footer {
    z-index: 1000;
    position: relative;
    background-color: #C00000;
    margin-top: 0px;
    padding-top: 15px;
    padding-right: 30px;
    border-top: 1px solid #C1C0AA;
    color: #FFFFFF;
    text-align: right;
    font-family: IranSans,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 12px;
}
footer h3 {
    font-family: IranSans,  Helvetica,  Arial,  sans-serif;
    color: #fff;
    font-size: 19px;
    text-align: right;
    text-transform: uppercase;
    padding-top: 10px;
}
footer ul {
    list-style: circle;
}
footer a {
    color: white;
}
footer a:link {
    color: white !important;
}
footer a:active {
    color: white !important;
}
footer a:visited {
    color: white !important;
}
footer a:hover {
    color: white !important;
}
.copyright {
    margin: 10px 10px 0 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: #eee;
}
.disqus {
    margin-top: 20px;
}
.social-buttons {
    margin-bottom: 0px;
    margin-top: 20px;
    clear: both;
}
.addthis {
    float: right;
    padding-left: 10px;
}
.addthis span {
    margin-bottom: 4px;
    margin-top: 0px;
}
.breadcrumbs {
    padding-right: 10px;
    font-family: IRANSans,  Helvetica,  Arial,  sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #666;
    display: block;
    float: right;
}
.breadcrumbs p {
    margin-top: 7px;
    margin-bottom: 4px;
}
.masthead {
    background: #fcfaf3;
}
.issue-masthead {
    text-align: center;
    padding: 0 0 10px 0;
}
.issue-masthead-logo {
    width: 180px;
    padding: 20px 0 0 0;
}
.issue-masthead-left {
    text-align: center;
    padding: 0 0 0 10px;
}
h2.issue-masthead {
    padding: 0 0 15px 0;
}
.issue-masthead-right {
    height: 100%;
    padding: 0 0 0 0;
}
.static-content {
    padding: 20px 20px 10px 20px;
}
.static-content h1 {
    font-size: 36px;
}
.static-content h3 {
    margin-top: 20px;
    font-size: 28px;
    color: #000;
}
.article-multi-list-left {
    display: block;
    float: right;
    width: 32%;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 100%}
.article-list-left {
    display: block;
    float: right;
    width: 30%;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 100%}
.article-list-right {
    display: block;
    float: left;
    width: 30%;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 100%}
.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-top: 10px;
    margin-bottom: 16px;
    overflow: hidden;
}
.flex-video.widescreen {
    padding-bottom: 57.25%}
.flex-video.vimeo {
    padding-top: 0;
}
.flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
.simple_form label {
    float: right;
    width: 120px;
    text-align: left;
    margin: 3px 10px;
}
span.block_radio_button_collection label {
    padding-left: 25px;
    text-align: right;
    padding-top: 0px !important;
}
span.block_radio_button_collection label label {
    width: 600px;
    text-align: right;
}
span.line_radio_button_collection {
    text-align: right;
    display: block;
    clear: left;
    width: 75%;
    margin-right: 140px;
    padding-top: 0px !important;
}
span.line_radio_button_collection label {
    width: 100%;
    text-align: right;
}
.simple_form div.input {
    margin-bottom: 10px;
}
.simple_form div.boolean, .simple_form input[type='submit'] {
    margin-right: 145px;
}
.simple_form .error {
    clear: right;
    font-size: 12px;
    color: #D00;
    display: block;
}
.simple_form .help-block {
    clear: right;
    margin-right: 145px;
    font-size: 12px;
    color: #555;
    display: block;
    font-style: italic;
}
.shipping-optional {
    font-style: italic;
    padding-right: 10px;
    color: #555;
}
.carousel-caption a:link {
    color: #ffffff !important;
}
.carousel-caption a:active {
    color: #ffffff !important;
}
.carousel-caption a:visited {
    color: #ffffff !important;
}
.carousel-caption a:hover {
    text-decoration: none;
    color: #ccc !important;
}
@media only screen and (max-device-width: 800px),  only screen and (device-width: 1024px) and (device-height: 600px),  only screen and (width: 1280px) and (orientation: landscape),  only screen and (device-width: 800px),  only screen and (max-width: 760px) {
    .flex-video {
    padding-top: 0;
}
}.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%}
.no-js .slides>li:first-child {
    display: block;
}
.flexslider {
    margin: 0 0 30px 0;
    background: #fff;
    position: relative;
    zoom: 1;
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.loading .flex-viewport {
    max-height: 400px;
}
.flexslider .slides {
    zoom: 1;
}
ul.slides {
    padding-right: 0px;
}
.carousel li {
    margin-left: 0px;
}
.flex-direction-nav {
    *height: 0;
}
.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: 0 0 -30px 0;
    display: block;
    background: url(/assets/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
    background-position: 100% 0;
    left: -36px;
}
.flex-direction-nav .flex-prev {
    right: -36px;
}
.flexslider:hover .flex-next {
    opacity: 0.8;
    left: 5px;
}
.flexslider:hover .flex-prev {
    opacity: 0.8;
    right: 5px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.flex-direction-nav .flex-disabled {
    opacity: 0.3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs li {
    width: 25%;
    float: right;
    margin: 0;
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}
.flex-control-thumbs img:hover {
    opacity: 1;
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
    opacity: 1;
    right: 0;
}
.flex-direction-nav .flex-next {
    opacity: 1;
    left: 0;
}
}
