body {
	font-family: IranSans, Helvetica, Arial, sans-serif;
}

#insert .buttons {
  text-align: center;
}
#insert button, #save button {
  font-size: 13px;
  vertical-align: middle;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  height: 35px;
  line-height: 15px;
  font-weight: 400;
  border: none;
  margin: 0 0 0 8px;
  text-transform: uppercase;
}

#insert button {
  background: #79aec8;
}
#insert button:hover {
  background: #609ab6;
}

#save button {
  background: #417690;
}
#save button:hover {
  background: #205067;
}

#save {
  text-align: right;
}

#insert .content {
  min-height: 40px;
}

#insert .content > div {
	margin: 5px;
	text-align: right;
	border-bottom: 1px solid black;
}

#insert #page_actions {
	display: none;
}

#editor img.selected {
	box-shadow: 0px 6px 11px 1px #333;
}

#editor {
	box-shadow: 0 0 2px gray;
	overflow-y: scroll;
}

#screenw-input {
	display: block;
	margin: auto;
	width: 60%;
}

#screenw-div {
	font-weight: bold;
	padding-top: 20px;
	text-align: center;
}
