{% extends 'base.html' %}

{% block content %}
<!-- Main Content -->
<div class='row-fluid'>
<!-- Refinements Column -->
<div class='span4 visible-desktop'>
<div class='social-bar email-bar'>
<div class='social-icons pull-left'>
<p></p>
</div>
<div class='breadcrumbs social-text'>
<p>
<a href='/newsletters'>
به نیوزلتر ما سابسکرایت کنید
</a>
</p>
</div>
<div class='social-icons pull-left'>
<p>
<a href='/newsletters'>
<i class='fa fa-envelope'></i>
</a>
</p>
</div>
<br class='clear'>
</div>

<div class='social-bar'>
<div class='social-icons pull-left'>
<p></p>
</div>
<div class='breadcrumbs social-text'>
<p class='connect_text'>
با کتابخانه متصل
</p>
</div>
<div class='social-icons pull-left'>
<p>
<a href='https://www.facebook.com/pages/BookPage/116675947874' target='_new'>
<i class='fa fa-facebook-square'></i>
</a>
<a href='https://twitter.com/bookpage' target='_new'>
<i class='fa fa-twitter-square'></i>
</a>
<a href='http://youtube.com/BookPagedotcom' target='_new'>
<i class='fa fa-youtube-square'></i>
</a>
<a href='http://pinterest.com/bookpage/' target='_new'>
<i class='fa fa-pinterest-square'></i>
</a>
</p>
</div>
<br class='clear'>
</div>

<div id='facet-box'>
<div class='sidebar-header facet-header'>
<span>
دسته بندی نقدها
</span>
</div>
<div class='sidebar-body'>
<div class='facets'>
<p>
ژانرها
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?book_genre=fiction&amp;page=1&amp;type=review">داستانی</a>
(2843)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=children_s&amp;page=1&amp;type=review">کودکان</a>
(1993)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=nonfiction&amp;page=1&amp;type=review">غیرداستانی</a>
(1131)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=biography_memoir&amp;page=1&amp;type=review">خاطرات و بیوگرافی</a>
(1005)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=teen&amp;page=1&amp;type=review">نوجوانان</a>
(797)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=teen_fiction&amp;page=1&amp;type=review">داستان نوجوانان</a>
(772)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=memoir&amp;page=1&amp;type=review">خاطرات</a>
(642)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=mystery_suspense&amp;page=1&amp;type=review">معمایی</a>
(560)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=history&amp;page=1&amp;type=review">تاریخ</a>
(543)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=children_s_chapter&amp;page=1&amp;type=review">داستان کودکان</a>
(526)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=historical_fiction&amp;page=1&amp;type=review">رمان تاریخی</a>
(455)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=children_s_picture&amp;page=1&amp;type=review">تصویری کودکان</a>
(445)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=biography&amp;page=1&amp;type=review">بیوگرافی</a>
(412)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=business_finance&amp;page=1&amp;type=review">بیزنس</a>
(394)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=arts_culture&amp;page=1&amp;type=review">فرهنگ و هنر</a>
(353)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=lifestyles&amp;page=1&amp;type=review">لایف استایل</a>
(333)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=science_nature&amp;page=1&amp;type=review">علوم طبیعی</a>
(315)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=debut_fiction&amp;page=1&amp;type=review">علمی تخیلی</a>
(312)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=suspense&amp;page=1&amp;type=review">سوسپنس</a>
(299)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=mystery&amp;page=1&amp;type=review">جنایی</a>
(194)
</li>
</ul>
</div>


<div class='facets'>
<p>
تاریخها
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?issue_date=201701&amp;page=1&amp;type=review">فروردین 95</a>
(37)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201612&amp;page=1&amp;type=review">اردیبهشت 95</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201611&amp;page=1&amp;type=review">خرداد 95</a>
(37)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201610&amp;page=1&amp;type=review">تیر 95</a>
(41)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201609&amp;page=1&amp;type=review">مرداد 95</a>
(39)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201608&amp;page=1&amp;type=review">شهریور 95</a>
(30)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201607&amp;page=1&amp;type=review">مهر 95</a>
(32)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201606&amp;page=1&amp;type=review">آباد 95</a>
(32)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201605&amp;page=1&amp;type=review">آذر 95</a>
(37)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201604&amp;page=1&amp;type=review">دی 95</a>
(35)
</li>
</ul>
</div>


<div class='facets'>
<p>
نویسندگان
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?book_author_id=979&amp;page=1&amp;type=review">جودی پیکولت</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=413&amp;page=1&amp;type=review">لری مکمورتی</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=227&amp;page=1&amp;type=review">استفن کینگ</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=4318&amp;page=1&amp;type=review">پاتریشیا مک لوگان</a>
(7)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=2460&amp;page=1&amp;type=review">شارون کریچ</a>
(7)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=2201&amp;page=1&amp;type=review">لوییس اردریچ</a>
(7)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1863&amp;page=1&amp;type=review">تی. سی. بویل</a>
(6)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1107&amp;page=1&amp;type=review">دی کی دی کی</a>
(5)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1061&amp;page=1&amp;type=review">لاورن اولیویر</a>
(5)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=6929&amp;page=1&amp;type=review">مک برنت</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=3507&amp;page=1&amp;type=review">گری پاولسون</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=3136&amp;page=1&amp;type=review">میم ت اندرسون</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=2498&amp;page=1&amp;type=review">لمونی اسنیکت</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1831&amp;page=1&amp;type=review">کوین هنکس</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1782&amp;page=1&amp;type=review">ژوان هریس</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1598&amp;page=1&amp;type=review">آدریانا تریگانی</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1293&amp;page=1&amp;type=review">دایان اکرمن</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1175&amp;page=1&amp;type=review">کیت اتکینسون</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1171&amp;page=1&amp;type=review">کیت دیکامیلو</a>
(4)
</li>
</ul>
</div>




<div class='facets'>
<p>
منتقدان
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?contributor_id=15&amp;page=1&amp;type=review">آلیس کری</a>
(313)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=296&amp;page=1&amp;type=review">دبورا هاپکینسون</a>
(235)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=10&amp;page=1&amp;type=review">ادوارد موریس</a>
(222)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=11&amp;page=1&amp;type=review">راجر بیشاپ</a>
(213)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=335&amp;page=1&amp;type=review">امی اسکریبنر</a>
(203)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=195&amp;page=1&amp;type=review">آنگلا لیپر</a>
(175)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=303&amp;page=1&amp;type=review">جولیا هاله</a>
(173)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=203&amp;page=1&amp;type=review">هثر سگل</a>
(158)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=149&amp;page=1&amp;type=review">آرلن مک کانیک</a>
(111)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=271&amp;page=1&amp;type=review">لیندا استنکارد</a>
(110)
</li>
</ul>
</div>


<div class='facets'>
<p>
ناشران
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?book_publisher=knopf&amp;page=1&amp;type=review">کنوپف</a>
(540)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=simon_schuster&amp;page=1&amp;type=review">سیمون و شوستر</a>
(423)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=random_house&amp;page=1&amp;type=review">خانه تصادفی</a>
(401)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=viking&amp;page=1&amp;type=review">ویکینگ</a>
(329)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=little_brown&amp;page=1&amp;type=review">لیتل براون</a>
(299)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=harpercollins&amp;page=1&amp;type=review">هارپرکولینس</a>
(255)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=holt&amp;page=1&amp;type=review">هولت</a>
(161)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=putnam&amp;page=1&amp;type=review">پوتنام</a>
(159)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=doubleday&amp;page=1&amp;type=review">دابلدی</a>
(127)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=morrow&amp;page=1&amp;type=review">مارو</a>
(126)
</li>
</ul>
</div>


</div>

</div>
</div>
<!-- Articles Column -->
<div class='span8'>
<div class='search-bar'>
<div class='breadcrumbs'>
<p>
<a href="/">خانه</a>
&nbsp;&gt;
نقدهای کتاب
</p>
</div>
<div class='search-box'>
<form class="search-form" action="/search/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
<div class='input-prepend'>
<span class='add-on add-on-custom'>
<i class='fa fa-search'></i>
</span>
<input type="text" name="query" id="query" class="input-medium query-input" placeholder="جست و جو در مقالات" />
</div>
</form>

</div>

<br class='clear'>
</div>

<div class='bp-well'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20824-sarina-bowen-hard-hitter"><img src="https://i1.bookpage.com/books/images/ecb8f0f81525c3583caaacf3794ab4f5/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20824-sarina-bowen-hard-hitter">زننده وحشی</a>
</h2>
<h3>
آب کردن یخها
</h3>
<p class='genre-links hidden-phone'>

<a href="/search?book_genre=romance">عاشقانه</a>
 /
<a href="/search?book_genre=contemporary_romance">عاشقانه معاصر</a>
    &gt;&nbsp;
</p>

<p class='excerpt'>
    ایالات متحده آمریکا امروز نویسنده پرفروشترین سارینا بوون به او سری بروکلین Bruisers با سخت hitter وظیفه، یک بسیار گرم، آهسته رایت عاشقانه بین یک کاپیتان تیم هاکی تلاش برای حفظ کار خود را در زیر خواسته های فیزیکی خسته کننده و ماساژ درمانگر جدید این تیم باز می گردد، است که به دنبال یک تازه شروع می شود.
</p>
<div class='read-full'>
<a href="/reviews/20824-sarina-bowen-hard-hitter">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20835-kevin-henkes-egg"><img src="https://i1.bookpage.com/books/images/ebf7330488b6c431baaa2cb9129707aa/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20835-kevin-henkes-egg">تخم مرغ</a>
</h2>
<h3>
    طنز، مدل هانکه
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=children_s">کودکان</a>
 /
<a href="/search?book_genre=children_s_picture">مصور کودکان</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    تخم مرغ آغاز می شود، به عنوان شما ممکن است انتظار، با چهار تخم مرغ های رنگی روشن است. سه تخم مرغ تخم، و سه پرندگان کودک رنگ روشن ظهور: صورتی، زرد و آبی. تخم مرغ چهارم، از یک سایه خزنده سبز، در کمتر از عجله است. از پرندگان کودک مشتاق کمک به خواهر و برادر خود را همراه، منقار خود را در نهایت شکستن پوسته. اما آنچه پدیدار است کمی کمتر از پر و fluttery. و کمی بیشتر سبز و crawly. ما با چهار تخم مرغ شروع؛ ما با چهار دوستان پایان؟
</p>
<div class='read-full'>
<a href="/reviews/20835-kevin-henkes-egg">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20836-sally-christie-icarus-show"><img src="https://i1.bookpage.com/books/images/0aef518623262131b683f4f85c08908e/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20836-sally-christie-icarus-show">نمایش ایساروس</a>
</h2>
<h3>
یافتن جایی امن
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=children_s">کودکان</a>
 /
<a href="/search?book_genre=children_s_chapter">فصل کودکان</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    اولین درجه متوسط سالی کریستی رمان فوق العاده و بازگو تنهایی، دوستی بعید است و اثرات فاجعه بار قلدری است.
</p>
<div class='read-full'>
<a href="/reviews/20836-sally-christie-icarus-show">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20844-marianne-kaurin-almost-autumn"><img src="https://i3.bookpage.com/books/images/79d0c6d4382c8f89d60952a66e518fed/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20844-marianne-kaurin-almost-autumn">تقریبا پاییز</a>
</h2>
<h3>
    یک نوجوان در نروژ نازی
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=teen">نوجوانان</a>
 /
<a href="/search?book_genre=teen_fiction">داستان نوجوانان</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    الزی استرن می داند در قلب او که همه چیز این پاییز شروع خواهد شد. او به امید یک روز با هرمان راد، پسر خوش تیپ که در سراسر سالن زندگی می کند. اما برای یک دختر نوجوان یهودی در اسلو، نروژ، در سال 1942، سرنوشت تا به چیزی به غیر از یک شب در سینما در ذهن است. چه با کلمات نفرت ناخوانا در پنجره ها از فروشگاه خیاطی پدرش شروع می شود به زودی به دستگیری های گسترده، کار اجباری و مرگ اردوگاه های نازی اروپا تحت کنترل شدت.
</p>
<div class='read-full'>
<a href="/reviews/20844-marianne-kaurin-almost-autumn">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20851-h-m-bouwman-crack-sea"><img src="https://i1.bookpage.com/books/images/9fa461f34d2dac4080e38bc9e6ece60a/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20851-h-m-bouwman-crack-sea">یک کرک در دریا</a>
</h2>
<h3>
داستان سه خانواده در جادو
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=children_s">کودکان</a>
 /
<a href="/search?book_genre=children_s_chapter">فصل کودکان</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    در جهانی دوم، Kinchen و برادرش، ستاره، با پدر بزرگ به تصویب رسید خود، قدیمی رن زندگی می کنند، در جزایر. ستاره هدیه ای از صحبت کردن به ماهی است، اما او می تواند چهره به رسمیت نمی شناسد و مشکل در موقعیت های اجتماعی، به طوری که به طور مداوم Kinchen محافظ او. قایق شاه، رهبر ملت سفر Raftworld، نیاز به استعداد ستاره برای کمک به با یک برنامه مرموز. او کلاهبرداری Kinchen طول می کشد و ستاره به دریا، پشت سر گذاشتن یک دختر Raftworld به نام سزار.
</p>
<div class='read-full'>
<a href="/reviews/20851-h-m-bouwman-crack-sea">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20846-matthew-cordell-wolf-snow"><img src="https://i3.bookpage.com/books/images/83ec4a3b74371ba3022eaf36b1109920/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20846-matthew-cordell-wolf-snow">گرگی در برف</a>
</h2>
<h3>
گمشده در جنگلهای زمستانه، اما نه زیاد
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=children_s">کودکان</a>
 /
<a href="/search?book_genre=children_s_picture">مصور کودکان</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    در این داستان مناقصه، نویسنده تصویرگر متی کوردل هیچ زمان و یا فضا به چرخش داستان دو موجودات از دست داده و یک عمل محبت هدر ندهید. قبل از اینکه ما حتی به عنوان صفحه، ما را ملاقات یک دختر و یک گرگ، و همچنین خانواده های آنان.
</p>
<div class='read-full'>
<a href="/reviews/20846-matthew-cordell-wolf-snow">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20860-thomas-perry-old-man"><img src="https://i3.bookpage.com/books/images/577e2729495bc2c198fa4a8a06c4fc28/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20860-thomas-perry-old-man">مرد پیر</a>
</h2>
<h3>
دیگر قایم نشدن
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=fiction">داستان</a>
 /
<a href="/search?book_genre=mystery_suspense">معمایی و سوسپنس</a>
 /
<a href="/search?book_genre=suspense">سوسپنس</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    پرفروشترین نویسنده توماس پری یک راه متمایز و روشمند از گفتن یک داستان: استخوان لخت بدون کلمات اضافی شناور در اطراف. او کارشناسی ارشد در نوشتن توصیفی، به سادگی و با وضوح قابل توجه، و همچنین تصور چه اتفاقی می افتد زمانی که خالص تدابیر در، هیجان انگیز تنگ هیجان انگیز است. این مهارت ها ترکیب خوبی در تبدیل شده است رویه خود، رمان از تعلیق فرار.
</p>
<div class='read-full'>
<a href="/reviews/20860-thomas-perry-old-man">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20759-derek-b-miller-girl-green"><img src="https://i3.bookpage.com/books/images/03048e510c9568a5eac42cbd66343ed1/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20759-derek-b-miller-girl-green">دختر سبزپوش</a>
</h2>
<h3>
ریسکی برای بار دوم
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=fiction">داستان</a>
 /
<a href="/search?book_genre=mystery_suspense">معمایی و سوسپنس</a>
 /
<a href="/search?book_genre=suspense">سوسپنس</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    با دختر در سبز، برنده جایزه نویسنده (نروژی شب) به بررسی جنگ در عراق در یک تریلر تیره کمیک که نمایانگر پوچ از جنگ است.
</p>
<div class='read-full'>
<a href="/reviews/20759-derek-b-miller-girl-green">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20796-robin-roe-list-cages"><img src="https://i2.bookpage.com/books/images/af55f4586a389866005352c3decf41fe/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20796-robin-roe-list-cages">فهرست قفسها</a>
</h2>
<h3>
نگهدار برادرم
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=teen">نوجوانان</a>
 /
<a href="/search?book_genre=teen_fiction">داستان نوجوانان</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p>
    جولیان و آدم دوستان برادران راه تراژدی تبدیل شده است. هر چند سال از هم جدا در سن و در انتهای مخالف طیف شخصیت، باند پسران بیش از معلولیت های مشترک خود، احترام خود را برای یک تفاوت دیگر و این واقعیت که آنها یکدیگر را زندگی-بیش از یک بار نجات دهد.
</p>
<div class='read-full'>
<a href="/reviews/20796-robin-roe-list-cages">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<hr class='divider'>
<div class='bp-block article-info'>
<div class='article-list-right cover'>
<a href="/reviews/20782-amy-gary-great-green-room"><img src="https://i2.bookpage.com/books/images/7a3c586e21f2447736f14a26e89c2c20/medium.jpg" alt="Medium" /></a>
</div>
<h2>
<a href="/reviews/20782-amy-gary-great-green-room">در اتاق بزرگ سبز</a>
</h2>
<h3>
زندگی یک نویسنده
</h3>
<p class='genre-links hidden-phone'>
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
 /
<a href="/search?book_genre=biography_memoir">بیوگرافی و خاطرات</a>
 /
<a href="/search?book_genre=biography">بیوگرافی</a>
&gt;&nbsp;
</p>

<p class='excerpt'>
<p><em><strong>بهترین کتاب غیرداستانی کتابخانه، مهر 95</strong></em></p>

<p>
    یک روز سرد زمستان در ژانویه 1991، امی گری، صاحب یک شرکت چاپ و نشر کوچک، طلا در یک اتاق نشیمن در ورمونت بدتر میشه. خواهر نویسنده اواخر کودکان مارگارت وایز براون نشان داد گری یک تنه پر از منتشر نشده مواد آهنگ، نمرات موسیقی، داستان و شعر.
</p>
<div class='read-full'>
<a href="/reviews/20782-amy-gary-great-green-room">خواندن کل نقد &gt;</a>
</div>
<br class='clear'>
</div>

<div class='pagination'>
<ul>


<li class='active'>
<a href="#">1</a>
</li>

<li class=''>
<a rel="next" href="/reviews?page=2&amp;type=review">2</a>
</li>

<li class=''>
<a href="/reviews?page=3&amp;type=review">3</a>
</li>

<li class='disabled'>
<a href="#">&hellip;</a>
</li>

<li>
<a rel="next" href="/reviews?page=2&amp;type=review">بعدی &rsaquo;</a>
</li>

<li>
<a href="/reviews?page=1034&amp;type=review">آخرین &raquo;</a>
</li>

</ul>
</div>

</div>
</div>
<!-- Refinements Column -->
<div class='span5 hidden-desktop'>
<div class='social-bar email-bar'>
<div class='social-icons pull-left'>
<p></p>
</div>
<div class='breadcrumbs social-text'>
<p>
<a href='/newsletters'>
Subscribe To Our E-Newsletters
</a>
</p>
</div>
<div class='social-icons pull-right'>
<p>
<a href='/newsletters'>
<i class='fa fa-envelope'></i>
</a>
</p>
</div>
<br class='clear'>
</div>

<div class='social-bar'>
<div class='social-icons pull-left'>
<p></p>
</div>
<div class='breadcrumbs social-text'>
<p class='connect_text'>
Connect With Us
</p>
</div>
<div class='social-icons pull-right'>
<p>
<a href='https://www.facebook.com/pages/BookPage/116675947874' target='_new'>
<i class='fa fa-facebook-square'></i>
</a>
<a href='https://twitter.com/bookpage' target='_new'>
<i class='fa fa-twitter-square'></i>
</a>
<a href='http://youtube.com/BookPagedotcom' target='_new'>
<i class='fa fa-youtube-square'></i>
</a>
<a href='http://pinterest.com/bookpage/' target='_new'>
<i class='fa fa-pinterest-square'></i>
</a>
</p>
</div>
<br class='clear'>
</div>

<div id='facet-box2'>
<div class='sidebar-header facet-header'>
<span>
Browse Book reviews
</span>
</div>
<div class='sidebar-body'>
<div class='facets'>
<p>
Genres
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?book_genre=fiction&amp;page=1&amp;type=review">Fiction</a>
(2843)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=children_s&amp;page=1&amp;type=review">Children&#39;s</a>
(1993)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=nonfiction&amp;page=1&amp;type=review">Nonfiction</a>
(1131)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=biography_memoir&amp;page=1&amp;type=review">Biography Memoir</a>
(1005)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=teen&amp;page=1&amp;type=review">Teen</a>
(797)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=teen_fiction&amp;page=1&amp;type=review">Teen Fiction</a>
(772)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=memoir&amp;page=1&amp;type=review">Memoir</a>
(642)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=mystery_suspense&amp;page=1&amp;type=review">Mystery Suspense</a>
(560)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=history&amp;page=1&amp;type=review">History</a>
(543)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=children_s_chapter&amp;page=1&amp;type=review">Children&#39;s Chapter</a>
(526)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=historical_fiction&amp;page=1&amp;type=review">Historical Fiction</a>
(455)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=children_s_picture&amp;page=1&amp;type=review">Children&#39;s Picture</a>
(445)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=biography&amp;page=1&amp;type=review">Biography</a>
(412)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=business_finance&amp;page=1&amp;type=review">Business Finance</a>
(394)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=arts_culture&amp;page=1&amp;type=review">Arts Culture</a>
(353)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=lifestyles&amp;page=1&amp;type=review">Lifestyles</a>
(333)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=science_nature&amp;page=1&amp;type=review">Science Nature</a>
(315)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=debut_fiction&amp;page=1&amp;type=review">Debut Fiction</a>
(312)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=suspense&amp;page=1&amp;type=review">Suspense</a>
(299)
</li>
<li>
-&nbsp;
<a href="/reviews?book_genre=mystery&amp;page=1&amp;type=review">Mystery</a>
(194)
</li>
</ul>
</div>


<div class='facets'>
<p>
Issues
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?issue_date=201701&amp;page=1&amp;type=review">January 2017</a>
(37)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201612&amp;page=1&amp;type=review">December 2016</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201611&amp;page=1&amp;type=review">November 2016</a>
(37)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201610&amp;page=1&amp;type=review">October 2016</a>
(41)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201609&amp;page=1&amp;type=review">September 2016</a>
(39)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201608&amp;page=1&amp;type=review">August 2016</a>
(30)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201607&amp;page=1&amp;type=review">July 2016</a>
(32)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201606&amp;page=1&amp;type=review">June 2016</a>
(32)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201605&amp;page=1&amp;type=review">May 2016</a>
(37)
</li>
<li>
-&nbsp;
<a href="/reviews?issue_date=201604&amp;page=1&amp;type=review">April 2016</a>
(35)
</li>
</ul>
</div>


<div class='facets'>
<p>
Book Authors
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?book_author_id=979&amp;page=1&amp;type=review">Jodi Picoult</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=413&amp;page=1&amp;type=review">Larry McMurtry</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=227&amp;page=1&amp;type=review">Stephen King</a>
(8)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=4318&amp;page=1&amp;type=review">Patricia MacLachlan</a>
(7)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=2460&amp;page=1&amp;type=review">Sharon Creech</a>
(7)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=2201&amp;page=1&amp;type=review">Louise Erdrich</a>
(7)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1863&amp;page=1&amp;type=review">T.C. Boyle</a>
(6)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1107&amp;page=1&amp;type=review">DK DK</a>
(5)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1061&amp;page=1&amp;type=review">Lauren Oliver</a>
(5)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=6929&amp;page=1&amp;type=review">Mac Barnett</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=3507&amp;page=1&amp;type=review">Gary Paulsen</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=3136&amp;page=1&amp;type=review">M.T. Anderson</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=2498&amp;page=1&amp;type=review">Lemony Snicket</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1831&amp;page=1&amp;type=review">Kevin Henkes</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1782&amp;page=1&amp;type=review">Joanne Harris</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1598&amp;page=1&amp;type=review">Adriana Trigiani</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1293&amp;page=1&amp;type=review">Diane Ackerman</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1175&amp;page=1&amp;type=review">Kate Atkinson</a>
(4)
</li>
<li>
-&nbsp;
<a href="/reviews?book_author_id=1171&amp;page=1&amp;type=review">Kate DiCamillo</a>
(4)
</li>
</ul>
</div>




<div class='facets'>
<p>
Contributors
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?contributor_id=15&amp;page=1&amp;type=review">Alice Cary</a>
(313)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=296&amp;page=1&amp;type=review">Deborah Hopkinson</a>
(235)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=10&amp;page=1&amp;type=review">Edward Morris</a>
(222)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=11&amp;page=1&amp;type=review">Roger Bishop</a>
(213)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=335&amp;page=1&amp;type=review">Amy Scribner</a>
(203)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=195&amp;page=1&amp;type=review">Angela Leeper</a>
(175)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=303&amp;page=1&amp;type=review">Julie Hale</a>
(173)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=203&amp;page=1&amp;type=review">Heather Seggel</a>
(158)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=149&amp;page=1&amp;type=review">Arlene McKanic</a>
(111)
</li>
<li>
-&nbsp;
<a href="/reviews?contributor_id=271&amp;page=1&amp;type=review">Linda Stankard</a>
(110)
</li>
</ul>
</div>


<div class='facets'>
<p>
Publishers
</p>
<ul>
<li>
-&nbsp;
<a href="/reviews?book_publisher=knopf&amp;page=1&amp;type=review">Knopf</a>
(540)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=simon_schuster&amp;page=1&amp;type=review">Simon Schuster</a>
(423)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=random_house&amp;page=1&amp;type=review">Random House</a>
(401)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=viking&amp;page=1&amp;type=review">Viking</a>
(329)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=little_brown&amp;page=1&amp;type=review">Little Brown</a>
(299)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=harpercollins&amp;page=1&amp;type=review">Harpercollins</a>
(255)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=holt&amp;page=1&amp;type=review">Holt</a>
(161)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=putnam&amp;page=1&amp;type=review">Putnam</a>
(159)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=doubleday&amp;page=1&amp;type=review">Doubleday</a>
(127)
</li>
<li>
-&nbsp;
<a href="/reviews?book_publisher=morrow&amp;page=1&amp;type=review">Morrow</a>
(126)
</li>
</ul>
</div>


</div>

</div>
</div>
<!-- Ad Column -->
<div class='span2 visible-desktop'>
<div class='skyscraper-box article-sidebar-well' id='desktop2'>
<script type='text/javascript'>
googletag.cmd.push(function() {
googletag.defineSlot('/23083367/litbreaker/bookpage/rightatf', [160, 600], 'desktop2')
.addService(googletag.pubads());
googletag.enableServices();
googletag.display('desktop2');
});
</script>

</div>

</div>
</div>

{% endblock %}
