{% extends 'base.html' %}
{% block content %}
<div class="row">
    <!-- Right Column -->
    <div class="col-md-5">
        <div class="social-bar email-bar">
            <div class="social-icons pull-left">
                <p></p>
            </div>
            <div class="breadcrumbs social-text">
                <p>
<a href="/newsletters">
به نیوزلتر ما سابسکرایت کنید
</a>

                </p>
            </div>
            <div class="social-icons pull-left">
                <p>
<a href="/newsletters">
<i class="fa fa-envelope"></i>
</a>

                </p>
            </div>
            <br class="clear">
        </div>
        <div class="social-bar">
            <div class="social-icons pull-left">
                <p></p>
            </div>
            <div class="breadcrumbs social-text">
                <p class="connect_text">با کتابخانه متصل</p>
            </div>
            <div class="social-icons pull-left">
                <p>
<a href="https://www.facebook.com/pages/BookPage/116675947874" target="_new">
<i class="fa fa-facebook-square"></i>
</a>

<a href="https://twitter.com/bookpage" target="_new">
<i class="fa fa-twitter-square"></i>
</a>

<a href="http://youtube.com/BookPagedotcom" target="_new">
<i class="fa fa-youtube-square"></i>
</a>

<a href="http://pinterest.com/bookpage/" target="_new">
<i class="fa fa-pinterest-square"></i>
</a>

                </p>
            </div>
            <br class="clear">
        </div>
        <div class="sidebar-header">
<span>
نقدهای آتشین!
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/16750-martin-windrow-owl-who-liked-sitting-caesar"><img src="https://i2.bookpage.com/books/images/bada3cf1eb95e91410b224c3cc4a880f/medium.jpg" alt="Medium" class="img-responsive"></a>

                </div>
                <ol>
                    <li>
                        
<h4>
<a href="/reviews/16750-martin-windrow-owl-who-liked-sitting-caesar">جغدی که دوست دارمش نشسته بر سزار!</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=10168">فلانی</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/4855-john-boyne-boy-striped-pajamas">پسری با شلوار راه راه</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=5352">جان بوینه</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/5985-anthony-rendall-lion-called-christian">شیری به نام کریستیانو رونالدو</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=6864">جو لاندو</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/20668-dava-sobel-glass-universe">جهان شیشه ای</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=423">داوا سوبل</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/20280-peter-wohlleben-hidden-life-trees">زندگی خصوصی درختان</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=11985">میخ</a>

                        </p>
                    </li>
                </ol>
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/reviews">
    نقدهای بیشتر
    &gt;
</a>
</span>

            </div>
        </div>
        <div class="sidebar-header">
<span>
مصاحبه های آتشین
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/interviews/8836-m-l-stedman"><img src="https://i1.bookpage.com/interviews/images/086c78351a6eec109cb0d5d5f28c3a84/medium.jpg" alt="Medium" class="img-responsive"></a>

                </div>
                <ol>
                    <li>
                        
<h4>
<a href="/interviews/8836-m-l-stedman">میم لام استدلام</a>
</h4>

                        
<h3>
انتخاب یک انتخاب
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/8890-jojo-moyes">جوجو مویس</a>
</h4>

                        
<h3>
عشق مدرن
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/20663-zadie-smith">زادیه اسمیث</a>
</h4>

                        
<h3>
داستان دوستان
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/8663-ree-drummond">ری دروموند</a>
</h4>

                        
<h3>
دختر شهری در دل شب
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/8506-sue-monk-kidd">سو مونک کید</a>
</h4>

                        
<h3>
داستانهای سو مون کید
</h3>

                    </li>
                </ol>
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/interviews">
    مصاحبه های بیشتر
    &gt;
</a>
</span>

            </div>
        </div>
        <div class="sidebar-header">
<span>
نقد رمان
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20661-michael-chabon-moonglow"><img src="https://i1.bookpage.com/books/images/39a20fc3187eaa69562f6a8f65d5568f/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20661-michael-chabon-moonglow">ماهواره</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=1908">مایکل کابون</a>

                </p>
                <p>درخشان، غنی رضایت بخش رمان جدید مایکل چابون است، Moonglow است، از داستان
                    های به اصطلاح ساخته شده ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20662-kate-howard-ornatrix"><img src="https://i3.bookpage.com/books/images/941ee76b7b69d5437058d6db72b11b4a/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20662-kate-howard-ornatrix">اورناتریکس</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=12170">کیت هاوارد</a>

                </p>
                <p>در 16 قرن ایتالیا، که در آن خوبی ها و زیبایی هستند که به دست در دست، لکه
                    بر روی پوست به عنوان دیده می شود ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20665-beatrice-colin-to-capture-what-we-cannot-keep"><img src="https://i2.bookpage.com/books/images/a51849604c506b7662a6cd865d1f6e0a/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20665-beatrice-colin-to-capture-what-we-cannot-keep">بگیریم آنچه نداریم</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=6436">بئاتریس کولین</a>

                </p>
                <p>پاریس، یک شهرستان به صراحت با عشق همراه است، در جلو و مرکز در آخرین رمان
                    بئاتریس کالین، به تصرف است ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20677-warren-ellis-normal"><img src="https://i1.bookpage.com/books/images/b7fba12889f69b28876459e896aa748a/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20677-warren-ellis-normal">نرمال</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=3468">وارن الیس</a>

                </p>
                <p>در حالت عادی، هیجان انگیز جدید و استثنایی وارن الیس، استراتژیست پیش بینی
                    آدم دیربورن فقط به اعتراف ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20664-wally-lamb-ill-take-you-there"><img src="https://i1.bookpage.com/books/images/ec01ce425369c097471f3aab31ac9367/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20664-wally-lamb-ill-take-you-there">آنجا میبرمت</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=186">والی لامب</a>

                </p>
                <p>والی بره قلب خوانندگان با نیویورک تایمز پرفروشترین رمان خود (و انتخاب
                    باشگاه کتاب اپرا) او آمده موفق به کسب ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/reviews">
    نقدهای بیشتر
    &gt;</a>
</span>

            </div>
        </div>
        <div class="sidebar-header">
<span>
نقد کتابهای غیر رمان!
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20748-william-j-mann-wars-roosevelts"><img src="https://i3.bookpage.com/books/images/c192f8b33fbe8938708551ddddebb1b4/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20748-william-j-mann-wars-roosevelts">جنگ رزولتها</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=5443">ویلیام جی من</a>

                </p>
                <p>روزولتها مسلما قوی ترین و انجام از خانواده های آمریکایی بودند. بود تدی
                    روزولت وجود دارد، ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20749-michael-lewis-undoing-project"><img src="https://i1.bookpage.com/books/images/1b2a3db7d2bbdeea882fcb9f5cb44b9b/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20749-michael-lewis-undoing-project">پروژه ی ناتمام</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=1094">مایکل لوئیس</a>

                </p>
                <p>مایکل لوئیس است چشم مشتاق برای پیدا کردن غیر معمول، موضوعات پیچیده و نخ
                    ریسی آنها را به کاملا فراموش نشدنی ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20669-brian-jay-jones-george-lucas"><img src="https://i3.bookpage.com/books/images/965bc5cd66727ce001d1aaaffdaf757e/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20669-brian-jay-jones-george-lucas">جرج لوکاس</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=9594">برایان جی جونز</a>

                </p>
                <p>فقط در زمان برای انتشار آخرین فیلم جنگ ستارگان، برایان جی جونز (نویسنده
                    جیم هنسون) ارائه می دهد سینمایی ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20668-dava-sobel-glass-universe"><img src="https://i1.bookpage.com/books/images/3e90d77d997ae5433d88f7894adb0c9e/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20668-dava-sobel-glass-universe">جهان شیشه ای</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=423">دایا سوبل</a>

                </p>
                <p>داوا سوبل، بهترین ها را برای این کتاب ها قابل توجه به عنوان دختر گالیله
                    و طول جغرافیایی شناخته شده است، تاریخچه پیشگامانه ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20719-richard-j-evans-pursuit-power"><img src="https://i3.bookpage.com/books/images/87c25354be6afccd55d61cebcdbf6d19/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20719-richard-j-evans-pursuit-power">به دنبال قدرت</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=12247">ریچارد جی اوانس</a>

                </p>
                <p>در سال 1815، کسانی که با قدرت سیاسی در اروپا-اشراف و سلطنت-احساس کردند
                    که همکاری های بین المللی ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/reviews">
    نقدهای بیشتر
    &gt;</a>
</span>

            </div>
        </div>
        <div class="sidebar-header">
<span>
نقد کتاب کودک
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20710-barbara-mcclintock-lost-found"><img src="https://i1.bookpage.com/books/images/a6280959a75e3c050b2701ca7b190e36/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20710-barbara-mcclintock-lost-found">پیدا و گم</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=4896">باربارا مک کلینتاک</a>

                </p>
                <p>آدل و سیمون جاده دوباره! آنها قبلا بررسی امریکا و پاریس، اما آنها در حال
                    حاضر به رهبری ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20711-misty-copeland-life-motion"><img src="https://i3.bookpage.com/books/images/1e34db40af0e53e182a4ac02abd0e3e1/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20711-misty-copeland-life-motion">زندگی در حرکت</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=9951">میستی کوپلند</a>

                </p>
                <p>میستی کاپلند، اولین زن رقصنده اصلی آفریقایی-آمریکایی در تاریخ تئاتر باله
                    آمریکا، ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20629-pat-kiernan-good-morning-city"><img src="https://i2.bookpage.com/books/images/92bb16b2b6187511bf7858bc096e79c8/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20629-pat-kiernan-good-morning-city">صبح به خیر شهر!</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=12157">پت کیرنان</a> و <a href="/search?book_author_id=12158">پاسکال کامیون</a>

                </p>
                <p>به عنوان اولین شهرستان از خواب بیدار، آسمان هنوز تاریک، ماه هنوز بارقه
                    و آرام هنوز هم مردد است. در صبح بخیر، ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20628-leila-rudge-gary"><img src="https://i2.bookpage.com/books/images/09695a40dfbf743953a70a3a34fbf22e/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20628-leila-rudge-gary">پری</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=12156">لیلا روج</a>

                </p>
                <p>گری یک کبوتر مسابقه ای است، اما به دلایل ناشناخته، او نمی تواند پرواز.
                    او از ماجراجویی رویاها، درست مثل مسابقه ای دیگر ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/20631-kirsten-hubbard-race-night"><img src="https://i2.bookpage.com/books/images/6260c6fe4feb20de4eefa13c56e214d4/small.jpg" alt="Small" class="img-responsive"></a>

                </div>
                
<h4>
<a href="/reviews/20631-kirsten-hubbard-race-night">شب را بجنبان</a>
</h4>

                <p class="author-small">توسط
<a href="/search?book_author_id=12159">کریستن هابرد</a>

                </p>
                <p>جهان به پایان رسیده است. یک گروه کوچک از کودکان در یک مزرعه احاطه شده
                    توسط صحرا زنده ماندن. آنها ذخیره شده است، خود را ...</p>
                <br clear="all">
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/reviews">
    نقدهای بیشتر
    &gt;</a>
</span>

            </div>
        </div>
    </div>
    <!-- Left Column -->
    <div class="col-md-7">
        <div class="carousel slide" id="myCarousel">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                <li data-slide-to="1" data-target="#myCarousel"></li>
                <li data-slide-to="2" data-target="#myCarousel"></li>
                <li data-slide-to="3" data-target="#myCarousel"></li>
                <li data-slide-to="4" data-target="#myCarousel"></li>
            </ol>
            <div class="carousel-inner">
                <div class="active item">
<a href="http://bookpage.com/the-book-case/20757-vote-your-favorite-book-our-2016-readers-choice-survey#.WEne5qIrJdA"><img alt="" src="/static/images/802d1349b4c6d63868d6215b1c42332e.jpg" class="img-responsive">
</a>
                    <div class="carousel-caption">
                        
<h4>
<a href="http://bookpage.com/the-book-case/20757-vote-your-favorite-book-our-2016-readers-choice-survey#.WEne5qIrJdA">
    به کتاب مورد علاقه خود در سال 96 رای دهید
</a></h4>

                        <p>
<a href="http://bookpage.com/the-book-case/20757-vote-your-favorite-book-our-2016-readers-choice-survey#.WEne5qIrJdA">
    عنوان بهترین کتابی که در سال 96 خوانده اید را با بقیه دوستان به اشتراک بگذارید
</a>
                        </p>
                    </div>
                </div>
                <div class="item">
<a href="http://bookpage.com/contests/20686-mira-holiday-sweepstakes#.WEBLSKIrJGM"><img alt="" src="/static/images/50485acfc429de498e952e74510cb819.jpg" class="img-responsive">
</a>
                    <div class="carousel-caption">
                        
<h4>
<a href="http://bookpage.com/contests/20686-mira-holiday-sweepstakes#.WEBLSKIrJGM">تعطیلات میرا در سوییت
</a></h4>

                        <p>
<a href="http://bookpage.com/contests/20686-mira-holiday-sweepstakes#.WEBLSKIrJGM">وارد شوید تا جایزه مخصوص زمستان را ازآن خود کنید
</a>
                        </p>
                    </div>
                </div>
                <div class="item">
<a href="http://bookpage.com/features/20688-satisfying-small-town-story#.WDxJjKIrJdA"><img alt="" src="/static/images/51345a9b3b4b1a49919d3cc1827c56c7.jpg" class="img-responsive">
</a>
                    <div class="carousel-caption">
                        
<h4>
<a href="http://bookpage.com/features/20688-satisfying-small-town-story#.WDxJjKIrJdA">فنی فلگ
</a></h4>

                        <p>
<a href="http://bookpage.com/features/20688-satisfying-small-town-story#.WDxJjKIrJdA">نوشته کتاب کلیدر کتابهای شما را امضا میکند.
</a>
                        </p>
                    </div>
                </div>
                <div class="item">
<a href="http://bookpage.com/content/bestof2016"><img alt="" src="/static/images/ba4c63ca8214da0c64e72a354af662d8.jpg" class="img-responsive">
</a>
                    <div class="carousel-caption">
                        
<h4>
<a href="http://bookpage.com/content/bestof2016">بهترین کتاب 1396
</a></h4>

                        <p>
<a href="http://bookpage.com/content/bestof2016">منتقدان ما بهترین کتاب را انتخاب میکنند.
</a>
                        </p>
                    </div>
                </div>
                <div class="item">
<a href="https://bookpageholidaycatalog2016.squarespace.com/"><img alt="" src="/static/images/50485acfc429de498e952e74510cb819.jpg" class="img-responsive">
</a>
                    <div class="carousel-caption">
                        
<h4>
<a href="https://bookpageholidaycatalog2016.squarespace.com/">کاتالوگ تعطیلات کتابخانه
</a></h4>

                        <p>
<a href="https://bookpageholidaycatalog2016.squarespace.com/">این لیست را به دوستان خود پیشنهاد دهید.
</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-bar">
            <div class="breadcrumbs">
                <p>کتاب بعدی را پیدا کن!</p>
            </div>
            <div class="search-box">
                <input name="utf8" value="✓" type="hidden">
                <div class="input-group">
<span class="input-group-addon input-group-addon-custom">
<i class="fa fa-search"></i>
</span>

                    <input name="query" id="query" class="input-medium query-input"
                    placeholder="جست و جو در مقالات" type="text">
                </div>
            </div>
            <br class="clear">
        </div>
        <div class="sidebar-header">آخرینها از بلاگ</div>
        <div class="bp-well">
            <div class="bp-block article-info">
                <div class="article-list-right cover">
<a href="/the-book-case/20737-best-books-2016-17-girls"><img src="https://i1.bookpage.com/posts/images/6e3b644a7f28a268a02df18cf75e5298/medium.jpg" alt="Medium" class="img-responsive"></a>

                </div>
                
<h2>
<a href="/the-book-case/20737-best-books-2016-17-girls">بهترین کتابهای 96: شماره 17، "ابله"</a>
</h2>

                
<h3>
    پست شده توسط لیلی، منتقد دستیار در 9 دسامبر 1396
</h3>

                <p class="genre-links hidden-sm">
<a href="/the-book-case?category_id=2531">بهترین کتابها</a>
&gt;&nbsp;</p>
                <p
                class="excerpt"></p>
                    <p><em> به عنوان بخشی از
    &nbsp;<a href="http://bookpage.com/the-book-case?category_id=2531&amp;page=1&amp;tag_id=12922&amp;type=post" target="_blank" title="Best Books of 2014 coverage">بهترین کتابهای 1396</a>&nbsp;منتقدان ما کتابهای مورد علاقه خود را معرفی میکنند.</em>&nbsp;</p>
                    <p></p>
                    <p class="excerpt"></p>
                    <div class="read-full">
<a href="/the-book-case/20737-best-books-2016-17-girls">
    متن کامل پست بلاگ را بخوانید
    &gt;</a>

                    </div>
                    <br class="clear">
            </div>
            <hr class="divider">
            <div class="bp-block article-info blog-preview">
                
<h3>
<a href="/the-book-case">
    بقیه پستهای بلاگ:
</a>
</h3>

                <ul style="margin-bottom: 20px;">
                    <li class="recent-posts">
<a href="/the-book-case/20753-friday-links-authors-vacation-book-selectors-more">لینکهای جمعه: نویسندگان در تعطیلات و بیشتر</a>

                    </li>
                    <li class="recent-posts">
<a href="/the-book-case/20727-wrapping-up-holiday-romance">جمع آوری یک رومانتیک تعطیلاتی</a>

                    </li>
                    <li class="recent-posts">
<a href="/the-book-case/20758-recipe-week-sunday-gravy-with-sausage-rigatoni">دستور هفته: فلان و یک کتاب</a>

                    </li>
                    <li class="recent-posts">
<a href="/the-book-case/20757-vote-your-favorite-book-our-2016-readers-choice-survey">به کتاب مورد علاقه خود در نظرسنجی رای دهید</a>

                    </li>
                    <li class="recent-posts">
<a href="/the-book-case/20742-best-books-2016-26-seven-brief-lessons-physics">بهترین کتاب سال 1396 از دیدگاه منتقدین</a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-header">آخرین مقالات</div>
        <div class="bp-well">
            <div class="bp-block article-info">
                <div class="article-multi-list-right">
                    <div class="flexslider">
                        <ul class="slides">
                            <li class="flex-active">
                                <div class="slider-item">
<a href="/features/20746-short-stories-that-stick-landing"><img src="https://i3.bookpage.com/books/images/304fe07f45a909e813face25e2c8242d/medium.jpg" alt="Medium" class="img-responsive"></a>

                                </div>
                            </li>
                            <li class="">
                                <div class="slider-item">
<a href="/features/20746-short-stories-that-stick-landing"><img src="https://i3.bookpage.com/books/images/cea6816b6a70fcc03c0f9518cc231966/medium.jpg" alt="Medium" class="img-responsive"></a>

                                </div>
                            </li>
                            <li class="">
                                <div class="slider-item">
<a href="/features/20746-short-stories-that-stick-landing"><img src="https://i2.bookpage.com/books/images/f082dfb85c28b404ce55281b35f3b07e/medium.jpg" alt="Medium" class="img-responsive"></a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
<h2>
<a href="/features/20746-short-stories-that-stick-landing">داستان های کوتاه که چوب فرود</a>
</h2>

                
<h3>
توسط آلن مک کین
</h3>

                <p class="genre-links hidden-sm">
<a href="/search?book_genre=fiction">رمان</a>
/
<a href="/search?book_genre=short_stories">داستان کوتاه</a>
&gt;&nbsp;</p>
                <p
                class="excerpt">داستان کوتاه و نه مانند یک روال ژیمناستیک در المپیک است. بهترین آنهایی
                    که کوتاه، شدید هستند و چوب فرود.</p>
                    <div class="read-full">
<a href="/features/20746-short-stories-that-stick-landing">خواندن کل مقاله &gt;</a>

                    </div>
                    <br class="clear">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-multi-list-right">
                    <div class="flexslider">
                        <ul class="slides">
                            <li class="flex-active">
                                <div class="slider-item">
<a href="/features/20731-many-flavors-romance"><img src="https://i1.bookpage.com/books/images/7f6db93406c2778fcb6e97addc6980f1/medium.jpg" alt="Medium" class="img-responsive"></a>

                                </div>
                            </li>
                            <li class="">
                                <div class="slider-item">
<a href="/features/20731-many-flavors-romance"><img src="https://i2.bookpage.com/books/images/4a21cae88458812b46698e4f87f9ba60/medium.jpg" alt="Medium" class="img-responsive"></a>

                                </div>
                            </li>
                            <li class="">
                                <div class="slider-item">
<a href="/features/20731-many-flavors-romance"><img src="https://i2.bookpage.com/books/images/8184d33e1e0aa3ada42483d762492773/medium.jpg" alt="Medium" class="img-responsive"></a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
<h2>
<a href="/features/20731-many-flavors-romance">بسیاری از طعم های عاشقانه</a>
</h2>

                
<h3>
توسط لوییس دیر
</h3>

                <p class="genre-links hidden-sm">
<a href="/search?book_genre=romance">عاشقانه</a>
/
<a href="/search?book_genre=romantic_suspense">عاضقانه معاصر</a>
/
                    <a
                    href="/search?book_genre=historical_romance">عاشقانه تاریخی</a>&gt;&nbsp;</p>
                <p class="excerpt">با تعطیلات نزدیک، ما دسامبر ستون عاشقانه ما را به رمان در طول فصل کریسمس
                    اختصاص یافته است. برای کسانی از ما که به اندازه کافی از تشویق کریسمس داشته
                    اند، ما شما را سه رمان های عاشقانه با مقدار زیادی از گرما و عشق، بدون روح
                    تعطیلات.</p>
                <div class="read-full">
<a href="/features/20731-many-flavors-romance">خواندن کل مقاله &gt;</a>

                </div>
                <br class="clear">
            </div>
            <hr class="divider">
            <div class="bp-block article-info">
                <div class="article-list-right cover">
<a href="/interviews/20730-debbie-macomber"><img src="https://i2.bookpage.com/interviews/images/90f013e9f43e50c1616bec2dc61b4176/medium.jpg" alt="Medium" class="img-responsive"></a>

                </div>
                
<h2>
<a href="/interviews/20730-debbie-macomber">دبی مکومبر</a>
</h2>

                
<h3>
    برای دبی مکومبر، الان بهترین وقت سال نیست.
</h3>

                <p class="genre-links hidden-sm">
<a href="/search?book_genre=contemporary_romance">عاشقانه معاصر</a>
/
                    <a
                    href="/search?book_genre=romance">عاشقانه</a>&gt;&nbsp;</p>
                <p class="excerpt">دبی مکومبر شماره یک نویسنده پرفروش شناخته شده برای عاشقانه معاصر فوتی
                    و فوری و چند وجهی او و رمان کریسمس سالانه او است. ارائه تعطیلات خود در
                    این سال، و دوازده روز کریسمس است ، به عنوان انتخاب اول ما در عاشقانه برای
                    دسامبر انتخاب شد. ما خواسته مکوبر چند سوال در مورد شهر روستایی در واشنگتن
                    که در آن او زندگی می کند، سنت های تعطیلات مورد علاقه خود را و بیشتر.</p>
                <div
                class="read-full">
<a href="/interviews/20730-debbie-macomber">
    کل مصاحبه را بخوانید
    &gt;</a>

            </div>
            <br class="clear">
        </div>
        <hr class="divider">
        <div class="bp-block article-info">
            <div class="article-multi-list-right">
                <div class="flexslider">
                    <ul class="slides">
                        <li class="flex-active">
                            <div class="slider-item">
<a href="/features/20702-heavenly-creatures"><img src="https://i3.bookpage.com/books/images/a0464863dfcc73c4c9bfe7024122e782/medium.jpg" alt="Medium" class="img-responsive"></a>

                            </div>
                        </li>
                        <li class="">
                            <div class="slider-item">
<a href="/features/20702-heavenly-creatures"><img src="https://i1.bookpage.com/books/images/aa98286b74b8e08448744d963d45356c/medium.jpg" alt="Medium" class="img-responsive"></a>

                            </div>
                        </li>
                        <li class="">
                            <div class="slider-item">
<a href="/features/20702-heavenly-creatures"><img src="https://i2.bookpage.com/books/images/c10f95cfa7eb42133660861ac210e29e/medium.jpg" alt="Medium" class="img-responsive"></a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
<h2>
<a href="/features/20702-heavenly-creatures">موجودات آسمانی</a>
</h2>

            
<h3>
توسط لیندا کاستلیتو
</h3>

            <p class="genre-links hidden-sm">
<a href="/search?book_genre=humor">طنز</a>
/
<a href="/search?book_genre=pets">حیوانات</a>
/
                <a
                href="/search?book_genre=crafts_hobbies">تفریحات و سرگرمی</a>&gt;&nbsp;</p>
            <p class="excerpt">دوست داشتنی، سرگرم کننده، باهوش، مخدوش کننده. . . حیوانات خانگی با ارزش
                ما غنی سازی زندگی ما، و صاحبان حیوان خانگی توجه همیشه برای بیشتر به دنبال:
                راه های بیشتری برای آنها را درک، رمزگشایی رفتار خود را، یک رابطه نزدیک
                و یا ادای احترام. این کتاب های جدید ارائه راه فوق العاده برای انجام درست
                آن، از طریق روانشناسی حیوان خانگی، داستان های الهام بخش، شعر و DIY خلاق
                است.</p>
            <div class="read-full">
<a href="/features/20702-heavenly-creatures">خواندن کل مقاله &gt;</a>

            </div>
            <br class="clear">
        </div>
        <hr class="divider">
        <div class="bp-block article-info">
            <div class="article-multi-list-right">
                <div class="flexslider">
                    <ul class="slides">
                        <li class="flex-active">
                            <div class="slider-item">
<a href="/features/20701-capturing-universal"><img src="https://i2.bookpage.com/books/images/17975d0cfb8b87905fdfd7459a0fb8a6/medium.jpg" alt="Medium" class="img-responsive"></a>

                            </div>
                        </li>
                        <li class="">
                            <div class="slider-item">
<a href="/features/20701-capturing-universal"><img src="https://i1.bookpage.com/books/images/e0717da4e6a114b36b8772e2f38ed9aa/medium.jpg" alt="Medium" class="img-responsive"></a>

                            </div>
                        </li>
                        <li class="">
                            <div class="slider-item">
<a href="/features/20701-capturing-universal"><img src="https://i3.bookpage.com/books/images/1400ec7e0cec2f5220b4881c7085db78/medium.jpg" alt="Medium" class="img-responsive"></a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
<h2>
<a href="/features/20701-capturing-universal">گرفتن جهانی</a>
</h2>

            
<h3>
توسط آلیس کری
</h3>

            <p class="genre-links hidden-sm">
<a href="/search?book_genre=literature">ادبیات</a>
/
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
                <a
                href="/search?book_genre=art">هنر</a>&gt;&nbsp;</p>
            <p class="excerpt">گذشته، حال و آینده برخورد می کنند در راه با شکوه در این هنر و عکاسی کتاب،
                آن است که آیا یک عکاس مدرن شاهد تاریخ زنده در میدان های جنگ جنگ داخلی و
                یا بحث در مورد چرا جاده زرد آجری زرد در به بود جادوگر شهر از .</p>
            <div
            class="read-full">
<a href="/features/20701-capturing-universal">خواندن کل مقاله &gt;</a>

        </div>
        <br class="clear">
    </div>
    <hr class="divider">
    <div class="bp-block article-info">
        <div class="article-multi-list-right">
            <div class="flexslider">
                <ul class="slides">
                    <li class="flex-active">
                        <div class="slider-item">
<a href="/features/20700-tinseltown-treats-to-put-under-tree"><img src="https://i2.bookpage.com/books/images/844e019cf0b2f56e82af34b8ac0111ea/medium.jpg" alt="Medium" class="img-responsive"></a>

                        </div>
                    </li>
                    <li class="">
                        <div class="slider-item">
<a href="/features/20700-tinseltown-treats-to-put-under-tree"><img src="https://i1.bookpage.com/books/images/b62f99c2ddfc8923ce8e0baf8d796164/medium.jpg" alt="Medium" class="img-responsive"></a>

                        </div>
                    </li>
                    <li class="">
                        <div class="slider-item">
<a href="/features/20700-tinseltown-treats-to-put-under-tree"><img src="https://i3.bookpage.com/books/images/529d0a0f83bb2794c320da445df64a9e/medium.jpg" alt="Medium" class="img-responsive"></a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
<h2>
<a href="/features/20700-tinseltown-treats-to-put-under-tree">تینسلتون رفتار به زیر درخت قرار داده</a>
</h2>

        
<h3>
توسط پت اچ بروکس
</h3>

        <p class="genre-links hidden-sm">
<a href="/search?book_genre=film">فیلم</a>
/
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
            <a
            href="/search?book_genre=biography">زندگی نامه</a>&gt;&nbsp;</p>
        <p class="excerpt">برای دوستداران تلویزیون و فیلم، محصول امسال از کتاب ارائه "بهترین" رتبه
            بندی سرگرم کننده، پشت صحنه تور، عکس از خزانه هالیوود ستارههای، مراسم تجلیل
            از دست زدن و بیشتر.</p>
        <div class="read-full">
<a href="/features/20700-tinseltown-treats-to-put-under-tree">خواندن کل مقاله &gt;</a>

        </div>
        <br class="clear">
    </div>
    <hr class="divider">
    <div class="bp-block article-info">
        <div class="article-multi-list-right">
            <div class="flexslider">
                <ul class="slides">
                    <li class="flex-active">
                        <div class="slider-item">
<a href="/features/20699-captivating-perspectives-past"><img src="https://i1.bookpage.com/books/images/38c87e8279e750203cdef748b9e0ebd5/medium.jpg" alt="Medium" class="img-responsive"></a>

                        </div>
                    </li>
                    <li class="">
                        <div class="slider-item">
<a href="/features/20699-captivating-perspectives-past"><img src="https://i3.bookpage.com/books/images/4334e5d873f00d46cb6721231bbba5d0/medium.jpg" alt="Medium" class="img-responsive"></a>

                        </div>
                    </li>
                    <li class="">
                        <div class="slider-item">
<a href="/features/20699-captivating-perspectives-past"><img src="https://i3.bookpage.com/books/images/f7b231065223d5e5256630f831493914/medium.jpg" alt="Medium" class="img-responsive"></a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
<h2>
<a href="/features/20699-captivating-perspectives-past">دیدگاه های فریبنده در گذشته</a>
</h2>

        
<h3>
توسط کیت هرل
</h3>

        <p class="genre-links hidden-sm">
<a href="/search?book_genre=history">تاریخ</a>
/
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
            <a
            href="/search?book_genre=american_history">تاریخ آمریکا</a>&gt;&nbsp;</p>
        <p class="excerpt">روند هدیه خرید و فروش آیند و می روند، اما برای برخی از خوانندگان، کتاب
            تاریخ یک منبع مطمئن شوید که از روشنگری و لذت بردن. در اینجا پنج مورد علاقه
            ما در این فصل، مطمئن شوید به روشن تعطیلات برای هر چرم گاومیش تاریخ هستند.</p>
        <div
        class="read-full">
<a href="/features/20699-captivating-perspectives-past">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20698-cheer-holiday-with-sports-heroes"><img src="https://i1.bookpage.com/books/images/3faf251899c3101c56c7a33cdb9a5faa/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20698-cheer-holiday-with-sports-heroes"><img src="https://i2.bookpage.com/books/images/ec6ec0c094b73a1b2f6af43072e57c9f/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20698-cheer-holiday-with-sports-heroes"><img src="https://i2.bookpage.com/books/images/32ff7bf009a15a2b47a66f0087793bcc/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20698-cheer-holiday-with-sports-heroes">تشویق در تعطیلات با قهرمانان ورزشی</a>
</h2>

    
<h3>
توسط مارتین بردی
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
<a href="/search?book_genre=sports">ورزشی</a>
/
        <a
        href="/search?book_genre=biography">زندگی نامه</a>&gt;&nbsp;</p>
    <p class="excerpt">حجم ورزش های ضروری در این فصل تعطیلات ارائه یک جشن از بیوگرافی و تاریخ،
        اعم از FAIRWAYS از PGA و قصر یخ از NHL به زمینه های فوتبال حرفه ای، فوتبال
        بین المللی و فراتر از آن.</p>
    <div class="read-full">
<a href="/features/20698-cheer-holiday-with-sports-heroes">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20697-window-into-great-beyond"><img src="https://i1.bookpage.com/books/images/c32a2f39d093a7064e928b838536242e/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20697-window-into-great-beyond"><img src="https://i3.bookpage.com/books/images/bc3c7a4ddd7780d5e4a05f1603aa3ea6/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20697-window-into-great-beyond"><img src="https://i3.bookpage.com/books/images/2eb4c5c42c886db20dda4629080753bf/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20697-window-into-great-beyond">یک پنجره را به فراتر از بزرگ</a>
</h2>

    
<h3>
توسط آلن کری
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=nature">طبیعت</a>
/
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
        <a
        href="/search?book_genre=science_nature">علم و طبیعت</a>&gt;&nbsp;</p>
    <p class="excerpt">پنج کتاب جدید نمایش گذاشتن زیبایی طبیعی خیره کننده است که ما را از زیر
        و بالای احاطه کرده است، آن است که آیا یک پر ظریف از یک جغد خال خال و یا
        چشم انداز اثیری یک جوابی نیامد و درخت کهن در نور از کهکشان راه شیری است.</p>
    <div
    class="read-full">
<a href="/features/20697-window-into-great-beyond">خواندن کل مقاله &gt;</a>

</div>
<br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20705-holiday-must-haves-literature-lovers"><img src="https://i3.bookpage.com/books/images/95a130787b2ad36a594d912765f5fe58/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20705-holiday-must-haves-literature-lovers"><img src="https://i2.bookpage.com/books/images/408a9b36c5d5342ab8ba3db67a2938e7/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20705-holiday-must-haves-literature-lovers"><img src="https://i1.bookpage.com/books/images/a8ead41b64ac12049e352be64b813218/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20705-holiday-must-haves-literature-lovers">آنچه باید در تعطیلات داشته باشید</a>
</h2>

    
<h3>
توسط جولی هیلس
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=literature">ادبیات</a>
/
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
        <a
        href="/search?book_genre=travel">سفر</a>&gt;&nbsp;</p>
    <p class="excerpt">اگر شما در حال خرید برای کسی که شاد ترین در این شرکت از یک کتاب، پس این
        توصیه ها را برای شما! دوستداران کتاب خواهد شد بیش از موضوعات ما در این
        فصل تعطیلات جمع آوری کرده ایم لذت.</p>
    <div class="read-full">
<a href="/features/20705-holiday-must-haves-literature-lovers">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20704-directions-lifes-journey"><img src="https://i3.bookpage.com/books/images/011fe311c79094aa4b958e120bb07f74/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20704-directions-lifes-journey"><img src="https://i3.bookpage.com/books/images/64235588a97e0e8bcfce999e51171f1d/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20704-directions-lifes-journey"><img src="https://i1.bookpage.com/books/images/a6bb11227cacb604ecf007c73000cd31/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20704-directions-lifes-journey">مسیر زندگی</a>
</h2>

    
<h3>
توسط هتر سگل
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=nonfiction">غیرداستانی</a>
/
<a href="/search?book_genre=religion">دین</a>
/
        <a
        href="/search?book_genre=religion_spirituality">دین و روحانیت</a>&gt;&nbsp;</p>
    <p class="excerpt">سکوت پس عجله تعطیلات ما فرصت را به منعکس و بررسی سال بود که می دهد. این
        کتاب های جدید ارائه بینش معنوی از تنوع دیدگاه مطمئن شوید که به بزرگ خود
        ما است.</p>
    <div class="read-full">
<a href="/features/20704-directions-lifes-journey">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20703-so-good-you-can-almost-taste-it"><img src="https://i2.bookpage.com/books/images/fd1e1d86dc2323fa61901de765126ea1/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20703-so-good-you-can-almost-taste-it"><img src="https://i1.bookpage.com/books/images/37672e9013e51d23a11cfb6cdf94fccd/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20703-so-good-you-can-almost-taste-it"><img src="https://i3.bookpage.com/books/images/fdab6f2723ad4a9c48ed31d312140e16/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20703-so-good-you-can-almost-taste-it">خیلی خوب شما تقریبا می توانید آن را مزه</a>
</h2>

    
<h3>
توسط هنری ک جونیور
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=food">غذا</a>
/
<a href="/search?book_genre=food_wine">غذا و شراب</a>
/
        <a
        href="/search?book_genre=history">تاریخ</a>&gt;&nbsp;</p>
    <p class="excerpt">خواندن کتاب های شاداب بر روی مواد غذایی و تاریخ آن تقریبا به عنوان رضایت
        بخش به عنوان خوردن یک وعده غذایی بزرگ است. در این فصل جدول ما مملو از پنج
        کتاب لذیذ مطمئن شوید که به درخواست تجدید نظر به foodies در فهرست تعطیلات
        خود را.</p>
    <div class="read-full">
<a href="/features/20703-so-good-you-can-almost-taste-it">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20708-gifts-theyll-actually-like"><img src="https://i1.bookpage.com/books/images/6ecfac5ece71028ec9ea3990dc2584e5/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20708-gifts-theyll-actually-like"><img src="https://i3.bookpage.com/books/images/006a4f2873c035a2a15eca30f3fb5186/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20708-gifts-theyll-actually-like"><img src="https://i3.bookpage.com/books/images/09c2721d80b9240d231d52d1c63ba36e/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20708-gifts-theyll-actually-like">کادوهایی که دوست داری</a>
</h2>

    
<h3>
توسط هتر سگل
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=teen">نوجوانان</a>
/
<a href="/search?book_genre=teen_fiction">داستان نوجوان</a>
/
        <a
        href="/search?book_genre=teen_nonfiction">غیرداستان نوجوان</a>&gt;&nbsp;</p>
    <p class="excerpt">از کهن الگوهای افسانه را به هنر تبدیل به اسرار جهان و مناظر عاطفی خود
        ما، این کتاب پر از سرگرمی فکری برای خوانندگان نوجوان هستند.</p>
    <div class="read-full">
<a href="/features/20708-gifts-theyll-actually-like">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20707-magic-at-young-readers-fingertips"><img src="https://i2.bookpage.com/books/images/ecf1e37f4a72699c2a94d291a4f4492f/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20707-magic-at-young-readers-fingertips"><img src="https://i3.bookpage.com/books/images/f39c896889dd1452d2fafa094863c543/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20707-magic-at-young-readers-fingertips"><img src="https://i1.bookpage.com/books/images/fcb31f428ef6fdd20959924a72c3a3a3/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20707-magic-at-young-readers-fingertips">جادو برای جوانان</a>
</h2>

    
<h3>
توسط آلن کری
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=children_s">کودکان</a>
/
<a href="/search?book_genre=children_s_picture">مصور</a>
/
        <a
        href="/search?book_genre=children_s_chapter">کودکان مصور</a>&gt;&nbsp;</p>
    <p class="excerpt">تمام چیزی که برای کریسمس میخوام این سال یک جعبه پر از کتاب هدیه بچه ها
        است. این دقیقا همان چگونه من پس از بررسی دقیق این انتخاب ها الهام بخش،
        که شامل گنجینه بصری، موسیقی و هنری، به علاوه boatloads از سرگرم کننده و
        بازی را احساس کنید.</p>
    <div class="read-full">
<a href="/features/20707-magic-at-young-readers-fingertips">خواندن کل مقاله &gt;</a>

    </div>
    <br class="clear">
</div>
<hr class="divider">
<div class="bp-block article-info">
    <div class="article-multi-list-right">
        <div class="flexslider">
            <ul class="slides">
                <li class="flex-active">
                    <div class="slider-item">
<a href="/features/20706-dazzling-picture-books-to-become-december-traditions"><img src="https://i3.bookpage.com/books/images/b68ffa54968645939540cb5198fe60a3/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20706-dazzling-picture-books-to-become-december-traditions"><img src="https://i2.bookpage.com/books/images/c02646e4add2980ef947b4032a75f437/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
                <li class="">
                    <div class="slider-item">
<a href="/features/20706-dazzling-picture-books-to-become-december-traditions"><img src="https://i3.bookpage.com/books/images/0933f630c8b9c67d266542b5b3d28f5f/medium.jpg" alt="Medium" class="img-responsive"></a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    
<h2>
<a href="/features/20706-dazzling-picture-books-to-become-december-traditions">کتاب های تصویری خیره کننده برای تبدیل شدن به سنت دسامبر</a>
</h2>

    
<h3>
توسط جولی هیل
</h3>

    <p class="genre-links hidden-sm">
<a href="/search?book_genre=children_s">کودکان</a>
/
<a href="/search?book_genre=children_s_picture">تصویر کودکان</a>
&gt;&nbsp;</p>
    <p
    class="excerpt">جمع آوری الف ها کمی خود را برای زمان داستان، و برای یک روز تعطیل درخشان
        با داستان های دلگرم کننده از سحر و جادو شب کریسمس تنظیم شده است. میدارد
        آلو برجسته در اینجا خواهد روح دسامبر به هر دایره خواندن را.</p>
        <div class="read-full">
<a href="/features/20706-dazzling-picture-books-to-become-december-traditions">خواندن کل مقاله &gt;</a>

        </div>
        <br class="clear">
</div>
</div>
</div>
</div>
{% endblock %}
