<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ MEDIA_URL }}editor/trumbowyg.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}editor/styles.css" />
	</head>
	<body>
		<div id="edit">
      <div id="editor"></div>
    </div>
    <div id="insert">
			<div class="buttons">
				<button id="show_images">Images</button>
				<button id="show_videos">Videos</button>
			</div>
      <div class="content"></div>
      <div id="page_actions" class="buttons">
        <button id="prev_page">PREV</button>
        <button id="reload">RELOAD</button>
        <button id="next_page">NEXT</button>
      </div>
    </div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}editor/trumbowyg.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}editor/langs/fa.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}editor/scripts.js"></script>
	</body>
</html>
