{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block extrahead %}
		<link rel="stylesheet" href="{{ MEDIA_URL }}editor/trumbowyg.css" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}editor/styles.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">
    {{ opts.app_config.verbose_name }}
  </a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">
    {{ module_name }}
  </a>
  &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">
    {{ object|truncatewords:"18" }}
  </a>
  &rsaquo; {% trans 'Edit Text' %}
</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
		<div id="edit">
      <div id="editor">{{ object.render_for_editing|safe }}</div>
    </div>
    <div id="save">
      <span id="save_message"></span>
      <button id="save_button">Save</button>
    </div>
    <div id="insert">
			<div class="buttons">
				<button id="show_images">Images</button>
				<button id="show_videos">Videos</button>
			</div>
      <div class="content"></div>
      <div id="page_actions" class="buttons">
        <button id="prev_page">PREV</button>
        <button id="reload">RELOAD</button>
        <button id="next_page">NEXT</button>
      </div>
    </div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}editor/trumbowyg.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}editor/langs/fa.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}editor/scripts.js"></script>
{% endblock %}
