{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="social-bar email-bar">
            <div class="social-icons pull-left">
                <p></p>
            </div>
            <div class="breadcrumbs social-text">
                <p>
<a href="/newsletters">
به نیوزلتر ما سابسکرایت کنید
</a>

                </p>
            </div>
            <div class="social-icons pull-left">
                <p>
<a href="/newsletters">
<i class="fa fa-envelope"></i>
</a>

                </p>
            </div>
            <br class="clear">
        </div>
        <div class="social-bar">
            <div class="social-icons pull-left">
                <p></p>
            </div>
            <div class="breadcrumbs social-text">
                <p class="connect_text">با کتابخانه متصل</p>
            </div>
            <div class="social-icons pull-left">
                <p>
<a href="https://www.facebook.com/pages/BookPage/116675947874" target="_new">
<i class="fa fa-facebook-square"></i>
</a>

<a href="https://twitter.com/bookpage" target="_new">
<i class="fa fa-twitter-square"></i>
</a>

<a href="http://youtube.com/BookPagedotcom" target="_new">
<i class="fa fa-youtube-square"></i>
</a>

<a href="http://pinterest.com/bookpage/" target="_new">
<i class="fa fa-pinterest-square"></i>
</a>

                </p>
            </div>
            <br class="clear">
        </div>
        <!-- Refinements Column -->
        <div class="sidebar-header">
<span>
نقدهای آتشین!
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/reviews/16750-martin-windrow-owl-who-liked-sitting-caesar"><img src="https://i2.bookpage.com/books/images/bada3cf1eb95e91410b224c3cc4a880f/medium.jpg" alt="Medium" class="img-responsive"></a>

                </div>
                <ol>
                    <li>
                        
<h4>
<a href="/reviews/16750-martin-windrow-owl-who-liked-sitting-caesar">جغدی که دوست دارمش نشسته بر سزار!</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=10168">فلانی</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/4855-john-boyne-boy-striped-pajamas">پسری با شلوار راه راه</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=5352">جان بوینه</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/5985-anthony-rendall-lion-called-christian">شیری به نام کریستیانو رونالدو</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=6864">جو لاندو</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/20668-dava-sobel-glass-universe">جهان شیشه ای</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=423">داوا سوبل</a>

                        </p>
                    </li>
                    <li>
                        
<h4>
<a href="/reviews/20280-peter-wohlleben-hidden-life-trees">زندگی خصوصی درختان</a>
</h4>

                        <p class="author-small">توسط
<a href="/search?book_author_id=11985">میخ</a>

                        </p>
                    </li>
                </ol>
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/reviews">
    نقدهای بیشتر
    &gt;
</a>
</span>

            </div>
        </div>
        <div class="sidebar-header">
<span>
مصاحبه های آتشین
</span>

        </div>
        <div class="sidebar-body">
            <div class="bp-block article-info">
                <div class="article-list-left cover">
<a href="/interviews/8836-m-l-stedman"><img src="https://i1.bookpage.com/interviews/images/086c78351a6eec109cb0d5d5f28c3a84/medium.jpg" alt="Medium" class="img-responsive"></a>

                </div>
                <ol>
                    <li>
                        
<h4>
<a href="/interviews/8836-m-l-stedman">میم لام استدلام</a>
</h4>

                        
<h3>
انتخاب یک انتخاب
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/8890-jojo-moyes">جوجو مویس</a>
</h4>

                        
<h3>
عشق مدرن
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/20663-zadie-smith">زادیه اسمیث</a>
</h4>

                        
<h3>
داستان دوستان
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/8663-ree-drummond">ری دروموند</a>
</h4>

                        
<h3>
دختر شهری در دل شب
</h3>

                    </li>
                    <li>
                        
<h4>
<a href="/interviews/8506-sue-monk-kidd">سو مونک کید</a>
</h4>

                        
<h3>
داستانهای سو مون کید
</h3>

                    </li>
                </ol>
            </div>
            <hr class="divider">
            <div class="sidebar-footer">
<span>
<a href="/interviews">
    مصاحبه های بیشتر
    &gt;
</a>
</span>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="search-bar">
            <div class="breadcrumbs">
                <p>
<a href="/">خانه</a>
&nbsp;&gt; راهنمای ارسال مطلب</p>
            </div>
            <div class="search-box">
                <input name="utf8" value="✓" type="hidden">
                <div class="input-group">
<span class="input-group-addon input-group-addon-custom">
<i class="fa fa-search"></i>
</span>

                    <input name="query" id="query" class="input-medium query-input"
                    placeholder="جست و جو در مقالات" type="text">
                </div>
            </div>
            <br class="clear">
        </div>
        <div class="bp-well static-content">
            
<h1>
راهنمای ارسال مطلب
</h1>

            <p>تقریبا در هر دسته از کتاب های جدید، از جمله ادبی و محبوب داستان، ادبیات
                غیر داستانی، کتاب های کودکان، کتاب های صوتی و کتاب هدیه ای بررسی می کند.
                ما به ندرت بررسی شعر یا کتاب علمی، و ما نمی بررسی توجه به کتاب خود منتشر
                دادن، عنوان چاپ بر روی تقاضا و یا کتاب از پرس که فاقد توزیع عمده.</p>
            <p>به کتاب خود را برای بررسی در نظر گرفته BookPage، ارسال یک نسخه بررسی پیش
                حداقل سه ماه قبل از تاریخ انتشار عنوان است. دریافت اولیه یک آشپزخانه و
                یا نسخه خطی محدود به ما می دهد زمان کافی برای ارزیابی کیفیت یک کتاب و اختصاص
                آن را به یک منتقد مناسب است. اگر هیچ نمونه آماده چاپ در دسترس هستند، ارسال
                کتاب به پایان رسید در اسرع وقت. لطفا توجه داشته باشید، با این حال، که ما
                می توانیم یک کتاب را برای بررسی در نظر نمی اگر ما آن را پس از تاریخ انتشار
                دریافت خواهید کرد.</p>
            <p>همراه با آشپزخانه خود را، شامل یک نامه با نام، شماره تلفن و آدرس ایمیل
                از یک تماس تبلیغات برای این کتاب است. در این نامه همچنین باید شامل تاریخ
                کتاب انتشار، قیمت، تعداد صفحات و شماره</p>
            <p>کتابهای بزرگسالان را به اینجا بفرستید.
                <br>لین گرین
                <br>ویراستار
                <br>کتابخانه
                <br>خیابان اونجا
                <br>پلاک 12+2</p>
            <p>کتابهای کودکان را به اینجا بفرستید:
                <br>ویراستار کودک
                <br>کتابخانه
                <br>خیابان اینجا
                <br>پلاک 3</p>
            
<h3>تقویم ویرایشی</h3>

            <p>علاوه بر پوشش بررسی ماهانه استاندارد ما، BookPage کتاب مورد علاقه فصلی
                در هر موضوع برجسته. این مناطق تمرکز تحریریه شامل موارد زیر است:</p>
            <p><strong>مهر:</strong> سلامتی / اقتصاد مقاومتی
                <br>
<strong>آبان:</strong> عروسی / تاریخ سیاهان
                <br>
<strong>آذر:</strong> تاریخ زنان
                <br>
<strong>دی:</strong> شعر / بیسبال
                <br>
<strong>بهمن:</strong> روز مادر
                <br>
<strong>اسفند:</strong> روز پدر
                <br>
<strong>فروردین:</strong> معما / سوسپنس
                <br>
<strong>اردیبهشت:</strong> بازگشت به مدرسه / کودکان و والدین
                <br>
<strong>خرداد:</strong> سرمایه گذاری
                <br>
<strong>تیر:</strong>هالوین / داستان کودکان
                <br>
<strong>مرداد و شهریور</strong>هدیه عید</p>
            <p>برای ارسال کتاب برای بررسی در نظر گرفتن در یکی از این ویژگی های فصلی،
                ارسال یک آشپزخانه و یا کپی به پایان رسید از کتاب سه ماه قبل از تاریخ صدور
                مربوطه.</p>
        </div>
    </div>
</div>
{% endblock %}
